<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICITSService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44300/v1/CITSService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICITSService"
                contract="CITSService.ICITSService" name="WSHttpBinding_ICITSService" />
        </client>
    </system.serviceModel>
</configuration>