<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ICITSService">
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None" />
              <message clientCredentialType="UserName" />
            </security>
          </binding>
          <binding name="BasicHttpBinding_ICITSService1">
            <security mode="TransportWithMessageCredential" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://localhost/v1/CITSService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICITSService"
          contract="CITSService.ICITSService" name="BasicHttpBinding_ICITSService" />
      </client>
    </system.serviceModel>
</configuration>