<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="citsenvironments" type="Apexa.CITS.WCF.Test.CITSEnvironmentSection, Apexa.CITS.WCF.Test" />
		<section name="citscredentials" type="Apexa.CITS.WCF.Test.CITSCredentialsSection, Apexa.CITS.WCF.Test" />
	</configSections>
	<appSettings>
		<!--This key defines which environment the Unit Tests are pointing to-->
		<add key ="env" value ="uat"/>
	</appSettings>
	<citsenvironments>
		<citsenvironment name="uat" uri="https://uportal.apexa.ca:4433/v1/CITSService.svc" />
		<citsenvironment name="prd" uri="https://portal.apexa.ca:4433/v1/CITSService.svc" />
	</citsenvironments>
	<!--Provide these values before running the Unit Tests-->
	<citscredentials>
		<citscredential name="uat" username="" password="" contractorId=""/>
		<citscredential name="prd" username="" password="" contractorId=""/>
	</citscredentials>
    <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_ICITSService">
                  <security mode="TransportWithMessageCredential">
                      <transport clientCredentialType="None" />
                      <message clientCredentialType="UserName" />
                  </security>
              </binding>
              <binding name="BasicHttpBinding_ICITSService1">
                  <security mode="TransportWithMessageCredential" />
              </binding>
          </basicHttpBinding>
      </bindings>
      <client>
	      <endpoint address=""
	                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICITSService"
	                contract="CITSService.ICITSService" name="BasicHttpBinding_ICITSService" />
      </client>
    </system.serviceModel>
</configuration>